/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
}
h2 {
  font-size: 3rem;
}
header {
  display: flex;
  justify-content: center;
}
header nav {
  width: 100%;
  background: #2d2e2e;
  display: flex;
  justify-content: space-around;
}
header nav a {
  width: 15%;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 2%;
}
header nav a:hover {
  background: #6cbdff;
}
.topPage {
  max-width: 100%;
  background-color: #d8d8d8;
}
.topPage .image {
  text-align: center;
  width: 100%;
  padding: 4% 10%;
}
@media (max-width: 500px) {
  .topPage .image {
    width: 100%;
    padding: 5%;
  }
}
.topPage .topMain {
  width: 100%;
  text-align: center;
  padding-bottom: 1%;
}
.topPage .topMain h1 {
  font-size: 4rem;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .topPage .topMain h1 {
    font-size: 3.5rem;
  }
}
.topPage .topMain p {
  font-size: 3rem;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .topPage .topMain p {
    font-size: 2.5rem;
  }
}
.middlePage {
  display: flex;
  justify-content: space-between;
}
.middlePage h2 {
  margin: 2% 0;
}
.middlePage p {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .middlePage {
    display: flex;
    flex-direction: column;
  }
}
.middlePage .middleLeft {
  width: 50%;
}
@media (max-width: 500px) {
  .middlePage .middleLeft {
    width: 100%;
  }
}
.middlePage .middleRight {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .middlePage .middleRight {
    width: 100%;
  }
}
.middlePage .middleRight p {
  padding: 1.7% 0 1.7% 3%;
}
.middlePage .middleRight .goodOne,
.middlePage .middleRight .goodFive,
.middlePage .middleRight .goodThree {
  border: 1px solid #c0bebe;
}
.middlePage .middleRight .goodTwo,
.middlePage .middleRight .goodFour {
  border-left: 1px solid #c0bebe;
  border-right: 1px solid #c0bebe;
}
.botttomPage {
  width: 100%;
  margin: 3% 0;
}
.botttomPage table {
  width: 100%;
  background: #ececec;
}
.botttomPage th {
  text-align: left;
}
.botttomPage th,
.botttomPage td {
  font-size: 2rem;
  border-collapse: collapse;
  padding: 2% 2%;
}
.botttomPage tr:nth-child(odd) {
  background: #ffffff;
}
footer {
  font-size: 2rem;
  text-align: center;
  color: white;
  background: #2d2e2e;
  padding: 3%;
}
