// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

// My code 
html {
	font-size: 62.5%;
}

.flexIt(){
	display: flex;
}
@h2Size: 3rem;
@pSize: 2rem;

body {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}

header{
	.flexIt();
	justify-content: center;

		nav {
			background: #2d2e2e;
			width: 100%;
	
			.flexIt();
			justify-content: space-around;

				a{
					color: white;
					font-size: 2rem;
					text-decoration: none;
					padding: 2% 0;
				} // end of a tag
		} //end of nav tag
} //end of header tag



.topPage {
	max-width: 100%;
	background-color: #d8d8d8;
	// margin-top: 3%;

		.image {
			text-align: center;
			padding: 4%;
		} //.image end
		.topMain {
			width: 100%;
			text-align: center;
			padding-bottom: 3%;

				h1 {
					font-size: 4rem;
					margin-bottom: 2%;
				} // h1 end
				p {
					font-size: @h2Size;
				}
		}// .topMain end
} // End of .topPage

.middlePage {
	border: 1px solid black;

	.flexIt();
	justify-content: space-between;

	h2 {
		font-size: @h2Size;
		margin: 2% 0;
	}
	p {
		font-size: @pSize;
	}

		.middleLeft{
			width: 50%;

		}// end of middleLeft
		.middleRight {
			width: 50%;
		}// end of middleRight
}